@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

.grid {
  display: grid;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  font-weight: 500; 
  color: #fff;
  background-color: #334E69;
  height: 100vh;
}

.play-btn {
  padding: 5px 30px;
  font-weight: 500;
  border-radius: 30px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px;
  font-size: 1em;
  cursor: pointer;
  color: white;
  background-color: green;
}


#stat-container {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  background-color: black;
  font-weight: 500;
  font-size: 20px;
  color: white;
  margin-right: 50em;
  margin-top: 20em;
  width: 200px;
  border-radius: 25px;
}

.container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  position: absolute;
  top: 0;
  bottom: 10em;
  left: 0;
  right: 0;
}

.game-board {
  background-color:black;
  border: solid 2px black;
}

#scoreBox, #lvlBox, #lineBox {
  color: white;
  text-align: center;
  background-color: #343b36;
  margin-bottom: 10px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-left: 25px;
  margin-right: 25px;
}

#next-container {
  position: absolute;
  top: 2em;
  right: 20em;
  text-align: center;
}



#nextBox {
  color: white;
  text-align: center;
  background-color: #343b36;
  margin-bottom: 10px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
  margin-right: 25px;
  height: 20em;
  width: 150px;
}